.icon{
  text-decoration: none;
  color: white;
}

/* section{
  background-position: 
} */
/* .searchTitle{
  color: white;
  font-size: 50px;
} */

.searchBox{
  width: 728px;
  height: 48px;
  margin-right: 15px;
}
#input_Box{
  width: 728px;
  height: 48px;
}
#search_Button{
  width:120px;
  height: 48px;
  background-color: black;
  color: white;
}
#search-head{
  font-size: 20px;
  /* font-weight: bold; */
}



/* SelectBuilding */

.selectDiv{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 50px;
}
.selectedBuildings{

  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  grid-template-rows:repeat(2 , 1fr) ;
  position: relative;
  gap: 20px;
}
.buildingCard{
  /* display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  grid-template-rows:repeat(2 , 1fr) ;
  position: relative; */
  width: 540px;
  height: 446px;

  /* border: 10px solid red; */
  /* display: flex; */
}
.selctParagh{
  text-align: center;
}
.buildingCard img{
  width: 540px;
  height: 225px;
}


/* RegisterBox */
.email-box{
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  /* color: white; */
}
#email{
  width: 540px;
  height: 74px;
  z-index: 1;

  flex-grow: 1;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px
}
.emailButton{
  background-color: white;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15,29,45, 0.9); /* Darker overlay color */
  z-index: -1;
}
.email-title{
  color: white;
}


/* Agent */
.agentPart{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.agentWrap{
    display: grid;
  grid-template-rows:repeat(2, 1fr) ;
  grid-template-columns:repeat(3 , 1fr) ;
  gap: 20px;
 
}
.agentCard{
  width:350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/* border: 1px solid red; */
/* text-decoration: none; */

}
.agentText{
  /* text-decoration: none; */
  color: black;
  text-decoration-line: none;
}
.socialMedia{
  color: black;
}
.agentCard img{
  width:350px;
  height: 300px;
}
.agentCard p:nth-child(2){
  font-weight: bold;
  font-size: 20px;
}
.agentCard p:nth-child(3){
  color: #7B7B7B;
}
.agentPart h4{
  font-size: 30px;
}
.agentPart p{
  font-size: 15px;
  line-height: 30%;
}


.intro_sixthtitle{
  font-size: 20px;
}
.intro_thirdtitle{
  font-size: 30px;
}

.footerLink{
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  cursor: pointer;
}
.footerHeader{
  font-size: 15px;
  font-weight: bold;
}



/* BuildingForSale */
.search-box{
  width: 100%;
  height: 147px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.inputsDesign{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  /* border: 1px solid green; */
}
.input-container{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  /* height: 90px; */
}
#propertyType{
  width: 335px;
  height: 48px;
  color: #7B7B7B;
}
#priceRange{
  width: 540px;
}
.rangeBoxButton{
  width: 100px;
  margin-left: 500px;
  /* border: none; */
  background-color: white;
  cursor: pointer;
}

/* BuildingsDetailsView */
.informationFirstBox{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.detailsPrice{
  font-size: 25px;
  font-weight: bold;
}
.detailsAddress{
  font-size: 18px;
  font-weight: bold;
}
.detailsImg{
  width: 100%;
  height: 780px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure the modal appears above other content */
}

.modal img {
  max-width: 90%; /* Adjust as needed */
  max-height: 90vh; /* Adjust as needed */
  border: 2px solid white; /* Add a border if desired */
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
}


/* AgentDetails */
.agent-image-container{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
/* .agent-image-container img{
  width: 280px;
  height: 280px;
} */
.contact-box{
  width: 134px;
  height: 40px;
  background-color: #162A41;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.agent-details-container{
  display: flex;
  justify-content: space-around;
}

.contactAgent{
  /* border: 10px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  /* align-items: center; */
}
.nameEmail{

  display: flex;
  /* border: 1px solid green; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/* .emailInput{
  width: 275px;
  height: 60px;
} */
/* .contact-form{
  width: 650px;
  height: 704px;
} */

#email{
  width: 275px;
  height: 60px;
}
#topic{
  width: 570px;
  height: 60px;
}
#message{
  width: 570px;
  height: 180px;
  margin-bottom: 20px;
}

.contact-form{
  /* width: 635px;
  height: 710px; */
  display: flex;
  flex-direction: column;

  margin-bottom: 100px;
  margin-top: 50px;
}
#name, #email{
  width: 267px;
  height: 60px;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* Log in */
.loginWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 920px;
  height: 746px;
  border: 1px solid #D3DEE8;
  margin-bottom: 80px;
}
.loginFirstPart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#loginName, #loginEmail{
  width: 540px;
  height: 60px;
}
.loginButton{
  background-color: #162A41;
  color: white;
  /* margin-top: 40px; */
  width: 540px;
  height: 60px;
}
.login-media :first-child, .login-media :nth-child(2), .login-media :nth-child(3){
  border: none;
  /* color : green; */
  /* border: 1px solid pink; */
}

/* Registeration */
.register-form{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.register-input{
  display: flex;
  flex-direction: column;
}
.register-size{
  width: 540px;
  height: 60px;
}
.register-button{
  width: 540px;
  height: 60px;
  background-color: #162A41;
  color: white;
}
#email{
  width: 540px;
  height: 60px;
}
.form-group #email{
  width: 267px;
  height: 60px;
}